.create-forum-container {
    margin: 100px 819px 222px 186px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    width: 507px;
    gap: 6px;
}
.create-button {
    padding: 12px 40px;
}
