.autocomplete-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.MuiInputBase-root {
    border-radius: 8px !important;
    padding: 12px 16px !important;
}
.MuiOutlinedInput-root .MuiAutocomplete-input {
    padding: 0 !important;
}

.MuiChip-root {
    background-color: var(--primary-300) !important;
}
.MuiChip-deleteIcon {
    & path {
        fill: var(--primary-500);
    }
}

.MuiInputBase-root fieldset {
    border-color: var(--grey-300) !important;
    border-width: 1px !important;
}

.MuiInputBase-root input {
    font-family: Inter, sans-serif !important;
}

.MuiInputBase-root input::placeholder {
    color: var(--grey-500);
    font-size: 16px;
    opacity: 1;
}
