.notFoundContainer {
    margin-top: 65px;
    text-align: center;
}

.custom-heading-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.custom-heading {
    margin: 0;
}
