.login-div-1 {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 320px;
    gap: 105px;
}

.login-div-2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.login-logo-div {
    display: flex;
    justify-content: center;
}

.inputs-login-div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.buttons-login-div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/*This is due to the fact that the TextField has a defined width so I need to override it*/
.inputs-login-div div {
    width: 100%;
}
