.container {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 507px;
    height: auto;
}

.textfield-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.items-aligned {
    margin-left: 115px;
}

.log-out-button-margin {
    margin-top: 37px;
}
.update-button-spacing {
    margin-top: 10px;
}

.cardsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 150px;
    align-content: center;
}
.itemsInGrid {
    display: flex;
    justify-content: center;
    align-items: center;
}
