.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    background: white;
}

.left-content {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo {
    margin-right: 10px;
}

.text {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    align-items: center;
}
