.split-screen-div {
    display: flex;
    height: 100vh;
    overflow: hidden;
}
.left-side {
    flex: 1;
    background-image: url("../../assets/images/background.png");
    background-size: cover;
    background-position: center;
}
.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
